<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>COM4510Pair.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5836540B1DDB485E00AC0F2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>583654241DDB485E00AC0F2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5836542F1DDB485F00AC0F2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
